/* 
	2021.06.25
	leadership _ 經營團隊
*/
.leadershipHero {
  padding-top: 70px;
  padding-bottom: 130px;
  @include bgimg("../img/mission.jpg");
}
.leadershipTitle {
  position: relative;
  display: block;
  margin-bottom: 60px;
  h2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    background-color: $white;
    padding: 5px;
    padding-right: 20px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    @include size(100%, 1px);
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary;
  }
}

.managementTeamList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  li {
    width: 30%;
    color: $primary;
    margin-right: 8%;
    img {
      @include size(300px);
      margin-bottom: 10px;
      object-fit: cover;
      background-color: $primary;
    }
  }
  &__name {
    display: flex;
    align-items: baseline;
    h2 {
      font-weight: $t-bold;
      margin-right: 10px;
    }
  }
  @include rwd($w-table) {
    flex-direction: column;
    align-items: center;
    li {
      width: 70%;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        @include size(100%);
      }
    }
  }
}
//boardOfDirectors董監事名單
.boardOfDirectorsList {
  @include df_center();
  justify-content: flex-start;
  flex-wrap: wrap;
  &__item {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0%;
    }
  }
}
//joinUs
.joinUs {
  margin-top: 40px;
  padding-top: 70px;
  padding-bottom: 120px;
  @include df_center(column);
}
